.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 56px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

.about-container {
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  background: #6e5d4c;
  border-radius: 4px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 48px;
  }
}

.about-text {
  font-family: 'Oxanium', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #d9e9eb;

  @include media(desktop) {
    font-size: 16px;
    max-width: 343px;
  }
}

.about-img {
  @include media(desktop) {
    min-width: 260px;
  }
}
