.gallery-section {
  background: #9cc7d0;

  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 56px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 64px;
    max-width: 1440px;
  }
}

.gallery-container {
}

.gallery-title {
  @include media(desktop) {
  }
}

.gallery-swiper-container {
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
  }
}

.gallery-slide {
  max-width: 283px;

  @include media(desktop) {
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 32px;

  @include media(desktop) {
    display: none;
  }
}

.gallery-dot {
  border-radius: 8px;
  min-width: 8px;
  width: 8px;
  height: 8px;
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  border-radius: 100%;
  background-color: #6e5d4c;
  opacity: 0.5;
  cursor: pointer;
}

.gallery-dot.active {
  background-color: #43423d;
  opacity: 1;
  transform: scale(2);
}

.controls {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 18px;
    position: absolute;
    top: 272px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);

      .arrow-icon {
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
}
