.hero-section {
  background: #191c2e;

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 56px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 186px;
    padding-bottom: 160px;
    max-width: 1440px;
  }
}

.hero-container {
  padding: 0;

  @include media(desktop) {
    padding: 0 160px;
  }
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row-reverse;
    gap: 48px;
  }
}

.hero-img {
  @include media(desktop) {
    min-width: 683px;
  }
}

.hero-text-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0;
    max-width: 389px;
  }
}

.hero-main-title {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #dbe2f0;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 32px;
    text-align: left;
    margin-bottom: 48px;
  }
}

.hero-text {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #8091b2;
  margin-bottom: 50px;

  @include media(desktop) {
    font-size: 20px;
    text-align: left;
    margin-bottom: 64px;
  }
}

.hero-btn {
  box-shadow: 2px 2px 0 0 rgba(237, 235, 223, 0.3);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
