.policy-section {
  background: #d9e9eb;
  padding-top: 104px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 48px;
  }
}

.policy-main-title {
  font-family: 'Oxanium', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #43423d;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 48px;
  }
}

.policy-title {
  font-family: 'Oxanium', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  color: #1c1c1b;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Oxanium', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #1c1c1b;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Oxanium', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #1c1c1b;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
