.reviews-section {
}

.reviews-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 56px;
  }
}

.reviews-container {
}

.reviews-title-wrapper {
  @include media(desktop) {
  }
}

.reviews-title {
  @include media(desktop) {
  }
}

.reviews-content-wrapper {
  @include media(desktop) {
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

.reviews-list-item {
  background: #212d44;
  border-radius: 16px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    padding: 24px;
    width: 100%;
    max-width: 220px;
  }
}

.reviews-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
  }
}

.reviews-item-name {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #dbe2f0;

  @include media(desktop) {
  }
}

.reviews-img {
  @include media(desktop) {
  }
}

.reviews-item-text {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #dbe2f0;

  @include media(desktop) {
    font-size: 16px;
  }
}
