.uniqueness-section {
}

.uniqueness-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 56px;
  }
}

.uniqueness-container {
}

.uniqueness-title-wrapper {
  @include media(desktop) {
  }
}

.uniqueness-title {
  @include media(desktop) {
  }
}

.uniqueness-text {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #191c2e;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 894px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.uniqueness-content-wrapper {
  @include media(desktop) {
  }
}

.uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

.uniqueness-list-item {
  background: #212d44;
  border-radius: 16px;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
    padding: 24px;
    flex-direction: column;
    gap: 0;
    width: 100%;
    max-width: 303px;
  }
}

.uniqueness-img {
  min-width: 84px;

  @include media(desktop) {
    min-width: 164px;
  }
}

.uniqueness-item-text {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #dbe2f0;

  @include media(desktop) {
    font-size: 16px;
  }
}
