.upgrades-section {
  background: #9cc7d0;

  @include media(desktop) {
  }
}

.upgrades-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

.upgrades-container {
}

.upgrades-title-wrapper {
  @include media(desktop) {
  }
}

.upgrades-title {
  @include media(desktop) {
  }
}

.upgrades-text {
  font-family: 'Oxanium', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #1c1c1b;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 16px;
    max-width: 842px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.upgrades-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

.upgrades-img-wrapper {
  @include media(desktop) {
    order: 2;
  }
}

.upgrades-img {
  @include media(desktop) {
    min-width: 228px;
  }
}

.upgrades-list {
  display: flex;
  justify-content: center;
  gap: 12px;

  @include media(desktop) {
    flex-direction: column;
    gap: 24px;
  }
}

.upgrades-top-list {
  @include media(desktop) {
    order: 1;
  }
}

.upgrades-list-item {
  background: #d9e9eb;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  max-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    padding: 24px 40px;
    max-width: 340px;
  }
}

.upgrades-item-text {
  font-family: 'Oxanium', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #1c1c1b;

  @include media(desktop) {
    font-size: 16px;
  }
}

.upgrades-bottom-list {
  @include media(desktop) {
    order: 3;
  }
}
