<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">contact us</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <p class="contact-text">Questions or feedback:</p>
        <a href="mailto:info@networkvision.space" class="contact-email-link">
          <svg class="email-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-email"></use></svg
          ><span>info@networkvision.space</span></a
        >
      </div>
    </div>
  </div>
</section>
