<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">CONTACT US</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <p class="section-subtitle contact-subtitle">Contact WideHarvest.</p>
        <p class="contact-text">
          If you have questions, feedback, or a suggestion that would make
          harvesting feel even better, send us a message. If you’re reporting an
          issue, include your device model and Android version so we can
          troubleshoot accurately. We appreciate detailed notes — especially
          when it’s about controls, pacing, or performance. Harvest games live
          or die on how they feel, and we’re always listening.
        </p>
        <a href="mailto:info@wideharvest.online" class="contact-email-link">
          <svg class="email-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-email"></use></svg
          ><span>info@wideharvest.online</span></a
        >
      </div>
    </div>
  </div>
</section>
