<section class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title features-title">Features & Benefits</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <p class="features-text">
        You're basically the boss of everything - which tools to buy, keeping
        customers happy, all that stuff.
      </p>
      <div class="features-content-wrapper">
        <ul class="features-list">
          <li class="features-list-item">
            <p class="features-item-text">
              The repair stuff is surprisingly detailed - like, you're actually
              doing the work instead of just clicking random buttons.
            </p>
          </li>
          <li class="features-list-item">
            <p class="features-item-text">
              Upgrade path for tooling and workshop space
            </p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="343"
            height="264" />
          <source
            srcset="./img/features/features-img-mob.png"
            width="263"
            height="202" />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="263"
            height="202"
            loading="lazy"
        /></picture>
        <ul class="features-list">
          <li class="features-list-item">
            <p class="features-item-text">
              Great for quick breaks or when you just want to chill for a while
            </p>
          </li>
          <li class="features-list-item">
            <p class="features-item-text">
              There's always something new to work toward, which keeps me coming
              back
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
