<section class="gallery-section section" id="gallery">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title gallery-title">Gallery</h2>
    </div>
  </div>
  <div class="gallery-bg-wrapper">
    <div class="container gallery-container">
      <div class="gallery-swiper-container">
        <ul class="swiper-wrapper gallery-swiper-wrapper">
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img1.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img2.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img3.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img4.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img5.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img6.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="gallery-dot active"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
      </div>
      <div class="controls gallery-controls">
        <button
          class="arrow-btn"
          id="galleryLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button
          class="arrow-btn"
          id="galleryRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
