<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title gameplay-title">How It Plays</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <p class="section-subtitle gameplay-subtitle">
        Swipe. Slice. Time it right.
      </p>
      <p class="gameplay-text">
        You harvest by swiping through crops with your cutter, focusing on
        precision and timing. Some fields reward careful, controlled movement,
        while others push you into faster, bolder cuts. Once you start reading
        the fields better, you can grab way more crops without wasting moves.
        Once you figure it out, you get into this loop - harvest, collect stuff,
        upgrade, do it again. Yeah, it's addictive as hell.
      </p>
      <div class="gameplay-content-wrapper">
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-swipe"></use>
            </svg>
            <p class="gameplay-item-text">Swipe to cut through ripe crops</p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-route"></use>
            </svg>
            <p class="gameplay-item-text">Plan your route to maximize yield</p>
          </li>
          <li class="gameplay-list-item">
            <svg class="gameplay-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-speed"></use>
            </svg>
            <p class="gameplay-item-text">
              Adjust speed and angle for different fields
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-reward-img"
              src="./img/gameplay/gameplay-reward.png"
              alt="Screenshot of the game"
              width="48"
              height="48"
            />
            <p class="gameplay-item-text">Collect rewards after each harvest</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
