<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title gameplay-title">How to Play</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <p class="gameplay-text">
        Looks simple at first, but man, once you're juggling customers and
        upgrades and everything... it gets complicated fast.
      </p>
      <div class="gameplay-content-wrapper">
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="323"
            height="300" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="213"
            height="198" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="213"
            height="198"
            loading="lazy"
        /></picture>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <p class="gameplay-item-number">1</p>
            <p class="gameplay-item-text">
              Inspect incoming devices to identify issues
            </p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-number">2</p>
            <p class="gameplay-item-text">
              Perform repairs like screen replacement, battery swaps, cleaning
              and diagnostics
            </p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-number">3</p>
            <p class="gameplay-item-text">
              Earn currency for successful repairs
            </p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-number">4</p>
            <p class="gameplay-item-text">
              Upgrade tools, unlock new parts and expand the shop
            </p>
          </li>
          <li class="gameplay-list-item">
            <p class="gameplay-item-number">5</p>
            <p class="gameplay-item-text">
              Serve customers efficiently to grow reputation and revenue
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
