<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="683"
            height="407" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="375"
            height="358" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="358"
        /></picture>
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            Fix phones,<br />
            build your business
          </h1>
          <p class="hero-text">
            It's actually pretty addictive.<br />
            Figure out what's wrong, fix it, and watch your little repair shop
            grow
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.gamestech.phone.repair.shop.simulator.game&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
          >
            <img
              class="hero-play-img"
              src="./img/hero/hero-play-img.png"
              alt="Google Play"
              width="240"
              height="72"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
