<section class="section management-section" id="management">
  <div class="section-title-wrapper management-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title management-title">Farm Management</h2>
    </div>
  </div>
  <div class="management-bg-wrapper">
    <div class="container management-container">
      <p class="section-subtitle management-subtitle">
        From cutter to owner: build the farm your way.
      </p>
      <p class="management-text">
        As you progress, Harvest It opens up the bigger picture — your own farm
        operation. You’ll make decisions about what to plant, how to organize
        your layout, and where to invest for maximum efficiency. It’s a light
        strategy layer that makes your progress feel personal, like you’re not
        just completing levels but growing something. When your choices start
        paying off, the game shifts from “harvest a field” to “run the whole
        system.” What You Manage:
      </p>
      <div class="management-content-wrapper">
        <ul class="management-list">
          <li class="management-list-item">
            <picture>
              <source
                srcset="./img/management/management-img1-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/management/management-img1-mob.png"
                width="72"
                height="72" />
              <img
                class="management-img"
                src="./img/management/management-img1-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
                loading="lazy"
            /></picture>
            <p class="management-item-text">
              Which crops to plant for profit and pacing
            </p>
          </li>
          <li class="management-list-item">
            <picture>
              <source
                srcset="./img/management/management-img2-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/management/management-img2-mob.png"
                width="72"
                height="72" />
              <img
                class="management-img"
                src="./img/management/management-img2-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
                loading="lazy"
            /></picture>
            <p class="management-item-text">
              Layout choices for smoother harvesting routes
            </p>
          </li>
          <li class="management-list-item">
            <picture>
              <source
                srcset="./img/management/management-img3-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/management/management-img3-mob.png"
                width="72"
                height="72" />
              <img
                class="management-img"
                src="./img/management/management-img3-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
                loading="lazy"
            /></picture>
            <p class="management-item-text">
              Investments into machinery and equipment
            </p>
          </li>
          <li class="management-list-item">
            <picture>
              <source
                srcset="./img/management/management-img4-desk.png"
                media="(min-width: 1440px)"
                width="120"
                height="120" />
              <source
                srcset="./img/management/management-img4-mob.png"
                width="72"
                height="72" />
              <img
                class="management-img"
                src="./img/management/management-img4-mob.png"
                alt="Screenshot of the game"
                width="72"
                height="72"
                loading="lazy"
            /></picture>
            <p class="management-item-text">
              Expansion decisions to grow your operation’s reach
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
