<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Welcome</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >How to Play</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Features & Benefits</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#uniqueness"
          >Our Uniqueness</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery">Gallery</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#reviews"
          >Player Reviews</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact Us</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
