<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >About the Game</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >How It Plays</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#fields"
          >Crops & Fields</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#upgrades"
          >Tools & Upgrades</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#management"
          >Farm Management</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#atmosphere"
          >Atmosphere</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery">Gallery</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact Us</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
