<section class="section reviews-section" id="reviews">
  <div class="section-title-wrapper reviews-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title reviews-title">Player Reviews</h2>
    </div>
  </div>
  <div class="reviews-bg-wrapper">
    <div class="container reviews-container">
      <div class="reviews-content-wrapper">
        <ul class="reviews-list">
          <li class="reviews-list-item">
            <div class="reviews-name-wrapper">
              <p class="reviews-item-name">Austin G.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="reviews-item-text">
              “Really loved the repair mechanics! Swapping screens and batteries
              feels satisfying and realistic.”
            </p>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-name-wrapper">
              <p class="reviews-item-name">Kevin R.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-4-stars.png"
                alt="Rating"
                width="64"
                height="16"
              />
            </div>
            <p class="reviews-item-text">
              “Great concept for a simulation game. Shop upgrades add a nice
              progression layer.”
            </p>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-name-wrapper">
              <p class="reviews-item-name">Laura S.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-4-stars.png"
                alt="Rating"
                width="64"
                height="16"
              />
            </div>
            <p class="reviews-item-text">
              “Fun and addictive. Wish there were more customization options,
              but the core gameplay is solid.”
            </p>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-name-wrapper">
              <p class="reviews-item-name">Linda B.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="reviews-item-text">
              “Addictive and relaxing at the same time. Great when you've got
              like 10 minutes to kill.”
            </p>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-name-wrapper">
              <p class="reviews-item-name">Peter D.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-3-stars.png"
                alt="Rating"
                width="48"
                height="16"
              />
            </div>
            <p class="reviews-item-text">
              “Good idea but could use more variety in devices and customer
              types — still worth trying!”
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
