<section class="section uniqueness-section" id="uniqueness">
  <div class="section-title-wrapper uniqueness-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title uniqueness-title">Our Uniqueness</h2>
    </div>
  </div>
  <div class="uniqueness-bg-wrapper">
    <div class="container uniqueness-container">
      <p class="uniqueness-text">
        I don't know why, but there's something weirdly satisfying about
        figuring out what's broken and actually fixing it. Been playing for
        hours. Making it more than just a gimmick — players feel like they’re
        really running a shop.<br />
        Why this one's different:
      </p>
      <div class="uniqueness-content-wrapper">
        <ul class="uniqueness-list">
          <li class="uniqueness-list-item">
            <picture>
              <source
                srcset="./img/uniqueness/uniqueness-img1-desk.png"
                media="(min-width: 1440px)"
                width="164"
                height="164" />
              <source
                srcset="./img/uniqueness/uniqueness-img1-mob.png"
                width="84"
                height="84" />
              <img
                class="uniqueness-img"
                src="./img/uniqueness/uniqueness-img1-mob.png"
                alt="Screenshot of the game"
                width="84"
                height="84"
                loading="lazy"
            /></picture>
            <p class="uniqueness-item-text">
              The repair stuff actually feels like the real deal
            </p>
          </li>
          <li class="uniqueness-list-item">
            <picture>
              <source
                srcset="./img/uniqueness/uniqueness-img2-desk.png"
                media="(min-width: 1440px)"
                width="164"
                height="164" />
              <source
                srcset="./img/uniqueness/uniqueness-img2-mob.png"
                width="84"
                height="84" />
              <img
                class="uniqueness-img"
                src="./img/uniqueness/uniqueness-img2-mob.png"
                alt="Screenshot of the game"
                width="84"
                height="84"
                loading="lazy"
            /></picture>
            <p class="uniqueness-item-text">
              It's relaxing like other sim games, but the technical repair work
              actually feels like it matters
            </p>
          </li>
          <li class="uniqueness-list-item">
            <picture>
              <source
                srcset="./img/uniqueness/uniqueness-img3-desk.png"
                media="(min-width: 1440px)"
                width="164"
                height="164" />
              <source
                srcset="./img/uniqueness/uniqueness-img3-mob.png"
                width="84"
                height="84" />
              <img
                class="uniqueness-img"
                src="./img/uniqueness/uniqueness-img3-mob.png"
                alt="Screenshot of the game"
                width="84"
                height="84"
                loading="lazy"
            /></picture>
            <p class="uniqueness-item-text">
              Management layer — upgrade shop and tools
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
