<section class="section upgrades-section" id="upgrades">
  <div class="section-title-wrapper upgrades-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title upgrades-title">Tools & Upgrades</h2>
    </div>
  </div>
  <div class="upgrades-bg-wrapper">
    <div class="container upgrades-container">
      <p class="section-subtitle upgrades-subtitle">
        Sharper blades. Faster swings. Smarter harvesting.
      </p>
      <p class="upgrades-text">
        Progress doesn’t just make numbers go up — it changes how the harvesting
        feels. Upgrades can give you sharper blades for cleaner cuts, faster
        swing speed for bigger clears, and special abilities that help you push
        through tricky moments. The best part is choosing what kind of cutter
        you want to become: careful and precise, or fast and unstoppable. Each
        upgrade makes the next field feel a little more manageable — and a lot
        more satisfying. Upgrade Paths:
      </p>
      <div class="upgrades-content-wrapper">
        <div class="upgrades-img-wrapper">
          <picture>
            <source
              srcset="./img/upgrades/upgrades-img-desk.png"
              media="(min-width: 1440px)"
              width="228"
              height="228" />
            <source
              srcset="./img/upgrades/upgrades-img-mob.png"
              width="343"
              height="343" />
            <img
              class="upgrades-img"
              src="./img/upgrades/upgrades-img-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="343"
              loading="lazy"
          /></picture>
        </div>
        <ul class="upgrades-list upgrades-top-list">
          <li class="upgrades-list-item">
            <p class="upgrades-item-text">
              Blade sharpness (cleaner, more efficient harvest)
            </p>
          </li>
          <li class="upgrades-list-item">
            <p class="upgrades-item-text">Swing speed (clear fields faster)</p>
          </li>
        </ul>
        <ul class="upgrades-list upgrades-bottom-list">
          <li class="upgrades-list-item">
            <p class="upgrades-item-text">
              Special abilities (situational boosts for obstacles or efficiency)
            </p>
          </li>
          <li class="upgrades-list-item">
            <p class="upgrades-item-text">
              Tool unlocks (new cutters with different strengths)
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
